<?xml version='1.0' encoding='utf-8' ?>
<manifest android:versionCode="16"
          android:versionName="2.1.0"
          android:compileSdkVersion="33"
          android:compileSdkVersionCodename="13"
          android:requiredSplitTypes="base__abi,base__density"
          android:splitTypes=""
          package="com.whywaste.wwapp2"
          platformBuildVersionCode="33"
          platformBuildVersionName="13" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="21"
            android:targetSdkVersion="34" />
  <uses-permission android:name="android.permission.INTERNET" />
  <permission android:name="com.whywaste.wwapp2.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
              android:protectionLevel="signature" />
  <uses-permission android:name="com.whywaste.wwapp2.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
  <application android:label="WhyWaste (UNICEF)"
               android:icon="@mipmap/launcher_icon"
               android:name="android.app.Application"
               android:extractNativeLibs="false"
               android:appComponentFactory="androidx.core.app.CoreComponentFactory">
    <activity android:theme="@style/LaunchTheme"
              android:name="com.whywaste.wwapp2.MainActivity"
              android:exported="true"
              android:launchMode="singleTop"
              android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
              android:windowSoftInputMode="adjustResize"
              android:hardwareAccelerated="true">
      <meta-data android:name="io.flutter.embedding.android.NormalTheme"
                 android:resource="@style/NormalTheme" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <meta-data android:name="flutterEmbedding"
               android:value="2" />
    <provider android:name="io.flutter.plugins.imagepicker.ImagePickerFileProvider"
              android:exported="false"
              android:authorities="com.whywaste.wwapp2.flutter.image_provider"
              android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/flutter_image_picker_file_paths" />
    </provider>
    <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:name="io.flutter.plugins.urllauncher.WebViewActivity"
              android:exported="false" />
    <provider android:name="dev.fluttercommunity.plus.share.ShareFileProvider"
              android:exported="false"
              android:authorities="com.whywaste.wwapp2.flutter.share_provider"
              android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/flutter_share_file_paths" />
    </provider>
    <receiver android:name="dev.fluttercommunity.plus.share.SharePlusPendingIntent"
              android:exported="false">
      <intent-filter>
        <action android:name="EXTRA_CHOSEN_COMPONENT" />
      </intent-filter>
    </receiver>
    <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
              android:exported="false"
              android:excludeFromRecents="true" />
    <service android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
             android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
             android:exported="true"
             android:visibleToInstantApps="true" />
    <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:name="com.google.android.gms.common.api.GoogleApiActivity"
              android:exported="false" />
    <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version" />
    <provider android:name="io.sentry.android.core.SentryPerformanceProvider"
              android:exported="false"
              android:authorities="com.whywaste.wwapp2.SentryPerformanceProvider"
              android:initOrder="200" />
    <uses-library android:name="androidx.window.extensions"
                  android:required="false" />
    <uses-library android:name="androidx.window.sidecar"
                  android:required="false" />
    <provider android:name="androidx.startup.InitializationProvider"
              android:exported="false"
              android:authorities="com.whywaste.wwapp2.androidx-startup">
      <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                 android:value="androidx.startup" />
      <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                 android:value="androidx.startup" />
    </provider>
    <receiver android:name="androidx.profileinstaller.ProfileInstallReceiver"
              android:permission="android.permission.DUMP"
              android:enabled="true"
              android:exported="true"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.SKIP_FILE" />
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.SAVE_PROFILE" />
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION" />
      </intent-filter>
    </receiver>
    <meta-data android:name="com.android.vending.splits.required"
               android:value="true" />
    <meta-data android:name="com.android.stamp.source"
               android:value="https://play.google.com/store" />
    <meta-data android:name="com.android.stamp.type"
               android:value="STAMP_TYPE_DISTRIBUTION_APK" />
    <meta-data android:name="com.android.vending.splits"
               android:resource="@xml/splits0" />
    <meta-data android:name="com.android.vending.derived.apk.id"
               android:value="3" />
  </application>
</manifest>
